<div class="d-flex justify-content-end me-5 mt-3" data-bs-toggle="modal" data-bs-target="#productoModal">
    <button type="button" class="btn btn-success" (click)="abrirModal('crear')">
        Agregar Producto
    </button>
</div>
<div class="p-4">
    <table class="table table-striped ">
        <thead class="table-dark">
            <tr>
                <th scope="col">#Id</th>
                <th scope="col">nombre</th>
                <th scope="col">precio</th>
                <th scope="col 2" class="mx-auto">acciones</th>

            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let d of data">

                <td scope="row">{{d.id}}</td>
                <td>{{d.title}}</td>
                <td>{{d.price}}</td>

                <td>
                    <button type="button" data-bs-toggle="modal" data-bs-target="#productoModal"
                     class="btn btn-primary" (click)="abrirModal(d)">Editar</button>
                    <button type="button" (click)="eliminar(d)" class="btn btn-danger">Eliminar</button>
                </td>
            </tr>

        </tbody>
    </table>
</div>


<nav aria-label="..." class="d-flex justify-content-end me-5">
    <ul class="pagination">
        <li class="page-item">
            <a class="page-link" (click)="anterior()" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        <li class="page-item"><a class="page-link">1</a></li>
        <li class="page-item active" aria-current="page">
            <span class="page-link">2</span>
        </li>
        <li class="page-item"><a class="page-link">3</a></li>
        <li class="page-item">
            <a class="page-link" (click)="siguiente()" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    </ul>
</nav>

<!-- Modal -->
<div class="modal fade" id="productoModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form [formGroup]="formProduct">
                    <div class="mb-3">
                        <label for="input1" class="form-label">Nombre</label>
                        <input type="text" matInput formControlName="title" class="form-control" id="input1"
                            placeholder="Digite el nombre">
                    </div>
                    <div class="mb-3">
                        <label for="input2" class="form-label">Precio</label>
                        <input type="number" matInput formControlName="price" class="form-control" id="input2"
                            placeholder="Digite el precio">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal" [disabled]="!formProduct.valid" (click)="operar()">Guardar</button>
            </div>
        </div>
    </div>
</div>